.header{
    height: 50px;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    background-color: white;
    border-bottom:1px solid rgb(228,228,228) ;
    z-index: 100;

}
.headerfrstsc{
    display: flex;
    align-items: center;
}
.headersecsc{
    flex:1 ;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.headerthrdsc{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    flex-shrink:0 ;
}
.icons{
    height:20px;
    
}
.hamburger{
    height:19px;
    margin-left: 25px;
    margin-right: 28px;
}
.youtube{
    height: 28px;
    width: 100px;
}
.search-button{
    height: 38px;
    width: 65px;
    border: 1px solid rgb(211, 211, 211);
    background-color: rgb(240,240,240);
    margin-left: -2px;
    position: relative;
    
}
.search-button .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip{
    opacity: 1;
}

.button{
    margin-top: 4px;
}
.voice-button{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius:20px ;
    border: none;
    margin-left: 10px;
    background-color: rgb(245,245,245);

}
.voiceicon{
    height: 17px;

}
.voice{
    height: 15px;
    width: 10px;
}
.searchbar{
    flex: 1;
    height: 35px;
    border-radius:2px ;
    border: 1px solid rgb(192, 192, 192);
    font-size: 16px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0;
}
.searchbar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
    padding-left:10px ;
}
.cameraicon{
    height: 26px;
}
.bellicon{
    height: 22px;
}
.profileicon{
    height: 36px;
    border-radius: 18px;
}
.notifications-count{
    position: absolute;
    top: -4px;
    right: -6px;
    
    background-color: rgb(200, 0, 0);
    border: 1.5px;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 10px;
    font-family: Roboto,Arial;
    color: white;
}
.notification-icon-container{
    position: relative;
    
}




